{% extends "base.html" %}

{% block title %}Список постов - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Все посты блога</h1>
    <a href="{% url 'blog_create' %}">Создать новый пост</a>
    <hr>
    {% for post in posts %}
        <article class="post-entry">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="author-info">Автор: {{ post.author }} | Опубликовано: {{ post.created_at|date:"d.m.Y H:i" }}</p>
            {% if post.author == user %}
                <div class="post-controls">
                    <a href="{% url 'blog_update' post.pk %}">Редактировать</a> |
                    <a href="{% url 'blog_delete' post.pk %}">Удалить</a>
                </div>
            {% endif %}
        </article>
    {% endfor %}
{% endblock %}