<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/hello">
        <button>хобби!!!</button>
    </a>
    <a href="http://127.0.0.1:8000/food">
        <button>еда!!!</button>
    </a>
    <a href="http://127.0.0.1:8000/music">
        <button>Мюзикле!!!</button>
    </a>
    <a href="http://127.0.0.1:8000/product_list">
        <button>Список продуктов</button>
    </a>
    <a href="http://127.0.0.1:8000/tracks">
        <button>tracks</button>
    </a>
</body>
</html>