<!DOCTYPE html>
<html>
<head>
    <title>Список треков</title>
</head>
<body>
    <h1>Список треков</h1>

    <a href="http://127.0.0.1:8000/home">
        <button>Назад на главную</button>
    </a>

    <ul>
        {% for track in tracks %}
            <li>
                <strong>{{ track.title }}</strong> - Автор: {{ track.author.name }}
            </li>
            <hr>
        {% empty %}
            <li>Нет доступных треков.</li>
        {% endfor %}
    </ul>
</body>
</html>
